APP_ENV=production
APP_DEBUG=0
APP_ALLOW_SETUP_TOOLS=0
APP_ALLOW_DEMO_LOGIN=0
APP_HEALTHCHECK_TOKEN=CHANGE_ME_LONG_RANDOM_TOKEN

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pos_mchongoma
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME
